<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <title>百度新闻</title>
    <style>
        a,a:hover{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card-header">
                    百度新闻
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <%news.forEach(item=>{%>
                            <li class="list-group-item">
                                <a href="<%=item.url%>">
                                    <%=item.title%>
                                </a>
                            </li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>